<a href="https://colab.research.google.com/github/loosiu/pdm14/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [ ]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997
2021-10-02 -0.905643 -2.677758  0.529149 -0.807327

In [ ]:
df.head(2)

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146

In [ ]:
df.tail(3)

                   A         B         C         D
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997
2021-10-02 -0.905643 -2.677758  0.529149 -0.807327

In [ ]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [ ]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.830153 -0.228187  0.109444 -0.218683
std    1.166640  1.264965  1.245688  0.822989
min   -2.072804 -2.677758 -1.777274 -0.960341
25%   -1.774189 -0.208998 -0.341228 -0.801282
50%   -1.004999  0.071936  0.183750 -0.560295
75%    0.133614  0.550601  0.469791  0.315387
max    0.619317  0.757251  2.017522  1.043161

In [ ]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.830153  1.166640 -2.072804 -1.774189 -1.004999  0.133614  0.619317
B    6.0 -0.228187  1.264965 -2.677758 -0.208998  0.071936  0.550601  0.757251
C    6.0  0.109444  1.245688 -1.777274 -0.341228  0.183750  0.469791  2.017522
D    6.0 -0.218683  0.822989 -0.960341 -0.801282 -0.560295  0.315387  1.043161

In [ ]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -1.997467    0.480033   -2.072804   -1.104356    0.619317   -0.905643
B   -0.160217   -0.225258    0.757251    0.632772    0.304090   -2.677758
C    0.291719   -0.480231    0.075782    2.017522   -1.777274    0.529149
D   -0.960341   -0.783146   -0.337443    1.043161    0.532997   -0.807327

In [ ]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [17]:
df

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997
2021-10-02 -0.905643 -2.677758  0.529149 -0.807327

In [20]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
 2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
 2021-09-29 -2.072804  0.757251  0.075782 -0.337443
 2021-09-30 -1.104356  0.632772  2.017522  1.043161
 2021-10-01  0.619317  0.304090 -1.777274  0.532997
 2021-10-02 -0.905643 -2.677758  0.529149 -0.807327,
                    A         B         C         D
 2021-10-02 -0.905643 -2.677758  0.529149 -0.807327
 2021-10-01  0.619317  0.304090 -1.777274  0.532997
 2021-09-30 -1.104356  0.632772  2.017522  1.043161
 2021-09-29 -2.072804  0.757251  0.075782 -0.337443
 2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
 2021-09-27 -1.997467 -0.160217  0.291719 -0.960341)

In [22]:
df,df.sort_index(axis=1, ascending=True)

(                   A         B         C         D
 2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
 2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
 2021-09-29 -2.072804  0.757251  0.075782 -0.337443
 2021-09-30 -1.104356  0.632772  2.017522  1.043161
 2021-10-01  0.619317  0.304090 -1.777274  0.532997
 2021-10-02 -0.905643 -2.677758  0.529149 -0.807327,
                    A         B         C         D
 2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
 2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
 2021-09-29 -2.072804  0.757251  0.075782 -0.337443
 2021-09-30 -1.104356  0.632772  2.017522  1.043161
 2021-10-01  0.619317  0.304090 -1.777274  0.532997
 2021-10-02 -0.905643 -2.677758  0.529149 -0.807327)

#### Sort by value
- sort_values(by='column')

In [23]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
 2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
 2021-09-29 -2.072804  0.757251  0.075782 -0.337443
 2021-09-30 -1.104356  0.632772  2.017522  1.043161
 2021-10-01  0.619317  0.304090 -1.777274  0.532997
 2021-10-02 -0.905643 -2.677758  0.529149 -0.807327,
                    A         B         C         D
 2021-10-02 -0.905643 -2.677758  0.529149 -0.807327
 2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
 2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
 2021-10-01  0.619317  0.304090 -1.777274  0.532997
 2021-09-30 -1.104356  0.632772  2.017522  1.043161
 2021-09-29 -2.072804  0.757251  0.075782 -0.337443)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [24]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27   -1.997467
2021-09-28    0.480033
2021-09-29   -2.072804
2021-09-30   -1.104356
2021-10-01    0.619317
2021-10-02   -0.905643
Freq: D, Name: A, dtype: float64

In [25]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443

In [27]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997

#### Selecting data by label [중요!!]

> **loc, iloc**

In [28]:
df

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997
2021-10-02 -0.905643 -2.677758  0.529149 -0.807327

In [30]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [32]:
df.loc[dates[0]]   # loc()

A   -1.997467
B   -0.160217
C    0.291719
D   -0.960341
Name: 2021-09-27 00:00:00, dtype: float64

In [31]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27 -1.997467 -0.160217
2021-09-28  0.480033 -0.225258
2021-09-29 -2.072804  0.757251
2021-09-30 -1.104356  0.632772
2021-10-01  0.619317  0.304090
2021-10-02 -0.905643 -2.677758

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [34]:
# df.loc[0:2,['C','D']]
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27  0.291719 -0.960341
2021-09-28 -0.480231 -0.783146

#### Selecting data by position (iloc())
- index 사용

In [35]:
df

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997
2021-10-02 -0.905643 -2.677758  0.529149 -0.807327

In [36]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -1.104356
B    0.632772
C    2.017522
D    1.043161
Name: 2021-09-30 00:00:00, dtype: float64

In [37]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27  0.291719 -0.960341
2021-09-28 -0.480231 -0.783146

In [38]:
# Select one item
df.iloc[1,1]

-0.22525766038523556

In [39]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443

#### Selecting data by Boolean indexing

In [40]:
df

                   A         B         C         D
2021-09-27 -1.997467 -0.160217  0.291719 -0.960341
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-09-29 -2.072804  0.757251  0.075782 -0.337443
2021-09-30 -1.104356  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090 -1.777274  0.532997
2021-10-02 -0.905643 -2.677758  0.529149 -0.807327

In [43]:
df > 0

                A      B      C      D
2021-09-27  False  False   True  False
2021-09-28   True  False  False  False
2021-09-29  False   True   True  False
2021-09-30  False   True   True   True
2021-10-01   True   True  False   True
2021-10-02  False  False   True  False

In [45]:
df[df.A > 0]

                   A         B         C         D
2021-09-28  0.480033 -0.225258 -0.480231 -0.783146
2021-10-01  0.619317  0.304090 -1.777274  0.532997

In [44]:
df[df > 0]

                   A         B         C         D
2021-09-27       NaN       NaN  0.291719       NaN
2021-09-28  0.480033       NaN       NaN       NaN
2021-09-29       NaN  0.757251  0.075782       NaN
2021-09-30       NaN  0.632772  2.017522  1.043161
2021-10-01  0.619317  0.304090       NaN  0.532997
2021-10-02       NaN       NaN  0.529149       NaN